version: '3.8'

services:
  backend:
    image: 005743379632.dkr.ecr.eu-north-1.amazonaws.com/three-tier-app-backend:latest
    ports:
      - "5000:5000"
    depends_on:
      - mongo
    env_file:
      - ./backend/.env
    user: "1000:1000"
    read_only: true
    restart: always
    networks:
      - app-network
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:5000/health"]
      interval: 30s
      timeout: 10s
      retries: 3

  frontend:
    image: 005743379632.dkr.ecr.eu-north-1.amazonaws.com/three-tier-app-frontend:latest
    ports:
      - "3000:3000"
    depends_on:
      - backend
    env_file:
      - ./frontend/.env
    user: "1000:1000"
    read_only: true
    restart: always
    networks:
      - app-network
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000"]
      interval: 30s
      timeout: 10s
      retries: 3

  mongo:
    image: mongo:6.0
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    restart: always
    networks:
      - app-network
    healthcheck:
      interval: 30s
      timeout: 10s
      retries: 3

volumes:
  mongo-data:

networks:
  app-network:
    driver: bridge

